@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Mukta:wght@200;300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700&family=Readex+Pro:wght@300;400;500;600;700&display=swap');

body {
    background: #EAEDF6;
    color: #070303C4;
    font-family: 'Readex Pro', sans-serif;
}

/*html body {*/
/*    scrollbar-face-color: red;*/
/*}*/